/* Default */

body {
	background-color: #FFFFFF;
	color: black;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-indent: 0;
	text-align: justify;
	margin-left: 50pt;
	margin-right: 50pt;
	margin-top: 25pt;
	margin-bottom: 25pt;
}

table {
	background-color: #FFFFFF;
	color: black;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-indent: 0;
	text-align: justify;
}

tr, td, table {
	padding: 0px;
}

ul, ol {
	margin-left: 20px;
	margin-right: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
}

li {
	padding-left: 4px;
	padding-right: 4px;
}


/* Pages references */

td.pageRef {
	background-color: #E5E5E5;
	color: black;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-indent: 0;
	text-align: justify;
	border-style: none;
	border-color: #FFFFFF;
	padding: 5px;
}


/* Image links */

a.imgl {
	background-color: #F5A300;
	margin: 0;
	padding: 0;
}
a.imgl:link {
	background-color: #F5A300;
	margin: 0;
	padding: 0;
}
a.imgl:hover {
	background-color: #F5A300;
	margin: 0;
	padding: 0;
}
a.imgl:active {
	background-color: #F5A300;
	margin: 0;
	padding: 0;
}
a.imgl:visited {
	background-color: #F5A300;
	margin: 0;
	padding: 0;
}

a.img {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}
a.img:link {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}
a.img:hover {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}
a.img:active {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}
a.img:visited {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}


/* Doxygen links */

a.el {
	text-decoration: none;
}

a.el:link {
	color: #904545;
	text-decoration: none;
}
a.el:hover {
	color: #FF0000;
	text-decoration: none;
	background-color: #f2f200;
}
a.el:active {
	color: #FF0000;
	text-decoration: none;
}
a.el:visited {
	color: #FF0000;
	text-decoration: none;
}


/* Default links */

a:link {
	color: #904545;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
	background-color: #f2f200;
}
a:active {
	color: #FF0000;
	text-decoration: none;
}
a:visited {
	color: #FF0000;
	text-decoration: none;
}




table.header {
	background-color: #FF9900;
	border-color: #FF9900 1;
	border-style: none;
	color: white;
	font-size: 14pt;
	font-family: Arial, Helvetica, sans-serif;
}

td.header0 {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FF9900;
	border-color: #FF9900 1;
	border-style: none;
	color: white;
	font-size: 12pt;
}
td.header1 {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FF9900;
	border-color: #FF9900 1;
	border-style: none;
	color: white;
	font-size: 10pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-style: normal;
	margin-left: 0pt;
}

h1 {
	color: #606060;
	font-weight: bold;
	text-align: justify;
	font-variant: small-caps;
	font-size: 18pt;
}

h2 {
	margin-top: 30pt;
	text-align: justify;
	font-size: 13pt;
	font-weight: bold;
}

h3 {
	text-align: justify;
	font-weight: bold;
	font-size: 10pt;
}

td.md {
	background-color: #efefef;
	font-family: monospace;
	font-style: normal;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 8px;
	padding-right : 8px;
}
td.mdname1 {
	background-color: #efefef;
	font-family: monospace;
	font-weight: bold;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 8px;
	padding-right : 8px;
}
td.mdname {
	background-color: #efefef;
	font-family: monospace;
	font-weight: bold;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 8px;
	padding-right : 8px;
}

em {
	font-family: monospace;
	font-weight: bold;
	font-style: normal;
}

dt {
	font-weight: bold;
	font-style: normal;
}

CAPTION { font-weight: bold }
A.qindex {}
A.qindexRef {}
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4444ee }
DL.el { margin-left: -1cm }
DIV.fragment { width: 100%; border: none; background-color: #eeeeee }
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
DIV.groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }
TD.indexkey { 
   background-color: #eeeeff; 
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
TD.indexvalue { 
   background-color: #eeeeff; 
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
span.keyword       { color: #008000 }
span.keywordtype   { color: #604020 }
span.keywordflow   { color: #e08000 }
span.comment       { color: #800000 }
span.preprocessor  { color: #806020 }
span.stringliteral { color: #002080 }
span.charliteral   { color: #008080 }

FONT.keyword       { color: #008000 }
FONT.keywordtype   { color: #604020 }
FONT.keywordflow   { color: #e08000 }
FONT.comment       { color: #800000 }
FONT.preprocessor  { color: #806020 }
FONT.stringliteral { color: #002080 }
FONT.charliteral   { color: #008080 }





/* Main page styles */

table.main_portal {
	width: 100%;
	border: 0px;
}

td.main_portal {
	border: 0px none;
	width: 32%;
	padding: 8px;
}

div.main_part {
	background-color: #C8C8C8;
	color: #606060;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 4px;
	padding-right : 4px;
	margin-left: 0px;
}

div.main_subpart {
	color: #165288;
	font-weight: bold;
	margin-top : 8px;
	margin-left: 0px;
}

div.main_title {
	margin-top: 2px;
	margin-left: 0px;
}


/* Code doc styles */

p.decl_part {
	margin-left: 0pt;
	font-weight: bold;
	text-align: justify;
}

p.member_title {
	margin-left: 15pt;
	font-weight: bold;
	font-size: smaller;
	text-align: justify;
}

p.member_text {
	margin-left: 30pt;
	margin-top: 1pt;
	text-align: justify;
}

p.decl_section {
	margin-left: 15pt;
	background-color: #efefff;
	font-size: smaller;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 4px;
	padding-right : 4px;
	text-align: justify;
}

p.decl_bloc {
	margin-top: 20pt;
	text-align: justify;
}

p.decl_title {
	margin-top: 5pt;
	margin-left: 15pt;
	font-weight: bold;
	font-size: smaller;
	text-align: justify;
}

pre.decl_proto {
	margin-left: 30pt;
	margin-top: 1pt;
	background-color: #efefef;
	padding-top : 4px;
	padding-bottom : 4px;
	padding-left : 8px;
	padding-right : 8px;
	font-family: monospace;
	text-align: justify;
}

pre.decl_proto_end {
	margin-top: -8pt;
}

p.decl_text {
	margin-left: 30pt;
	margin-top: 1pt;
	text-align: justify;
}

code {
	font-family: monospace;
	font-weight: bold;
	font-style: normal;
	color: #660000;
}

code.bgc {
	font-family: monospace;
	font-weight: bold;
	font-style: normal;
	background-color: #F7EFE7;
	padding-top : 4px;
	padding-bottom : 4px;
	padding-left : 8px;
	padding-right : 8px;
}

var {
	font-family: monospace;
	font-weight: bold;
	color: #D37B22;
}


/* features list */

table.feat, td.feat, tr.feat {
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
	margin-top : 0;
	margin-left : 0;
	margin-right : 0;
	margin-bottom : 0;
	font-size: 9px;
	text-align: justify;
}
td.feattitle {
	padding-left : 20px;
	padding-right : 20px;
	padding-top : 20px;
	padding-bottom : 20px;
	margin-top : 0;
	margin-left : 0;
	margin-right : 0;
	margin-bottom : 0;
	text-align: center;
	width: 200px;
	background: #EEEEFF;
	font-size: 9px;
	font-weight: bold;
}
td.feathr {
	margin-top : 0;
	margin-left : 0;
	margin-right : 0;
	margin-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
	padding-bottom : 0;
	height: 1px;
	background: #DDDDDD;
}



/* Doxygen styles */

DIV.nav {
	width: 100%;
	background-color: #F2E7CB;
	border: 1px solid #97917F;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
DIV.navtab {
	background-color: #F2E7CB;
	border: 1px solid #97917F;
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}
TD.navtab {
	font-size: 70%;
}


.mdescLeft {
	padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.mdescRight {
    padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.memItemLeft {
	white-space: nowrap;
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memItemRight {
	white-space: nowrap;
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplParams {
	white-space: nowrap;
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	color: #AAAAAA;
	font-size: 80%;
}
.memTemplItemLeft {
	white-space: nowrap;
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplItemRight {
	white-space: nowrap;
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}



.memitem {
	border-top: 1px #97917F solid;
	border-left: 1px #97917F solid;
}

.memdoc {
	padding: 8px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: #f2f2f2;
}
table.memname {
	background-color: #F2E7CB;
	font-family: monospace;
	font-style: normal;
	font-size: 10pt;
	width: 100%;
}

td.memname {
	white-space: nowrap;
	font-weight: bolder;
	padding: 4px;
	padding-left: 32px;
}
td.paramtype {
	white-space: nowrap;
	padding-left: 32px;
}
td.paramname {
	white-space: nowrap;
	padding-left: 32px;
}


table.menuDesc {
	border-style: none;
	width: 70%;
}

td.menuDescLeft {
	text-align: center;
	white-space: nowrap;
	background-color: #165279;
	color: white;
	font-weight: bold;
	padding: 5px;
	border-style: none;
}

td.menuDescRight {
	width: 100%;
	background-color: #F2E7CB;
	color: black;
	padding: 8px;
	border-style: none;
}


